<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gerenciamento de Usuários - Heimdall</title>
</head>
<body>
<h1>Lista de Usuários</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario : ${listaUsuarios}">
        <td th:text="${usuario.id}"></td>
        <td th:text="${usuario.nome}"></td>
        <td th:text="${usuario.email}"></td>
    </tr>
    </tbody>
</table>

<p><a href="/usuarios/novo">Adicionar Novo Usuário</a></p>

</body>
</html>